@use "../../scss/base/" as globals;
@use "../../scss/base/" as mixins;

.container {
  display: flex;
  justify-content: center;
  margin: 8rem 4rem 5rem;

  @include mixins.tablet {
    margin: 9rem 3rem 5rem;
  }

  @include mixins.mobile {
    margin: 6.5rem 1.5rem 5rem;
  }

  .hero__container {
    background-color: globals.$secondary;
    max-width: 80rem;
    height: 36rem;
    width: 100%;
    border-radius: 20px;
    display: flex;

    @include mixins.tabletLarge {
      flex-direction: column;
    }

    .hero__text__container {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 0rem 4rem;

      @include mixins.tabletLarge {
        height: 80%;
        width: 100%;
      }

      @include mixins.mobileSmall {
        padding: 0rem 1.5rem;
        align-items: center;
      }

      h1 {
        font-size: 7rem;

        @include mixins.desktopSmall {
          font-size: 5rem;
        }

        @include mixins.tabletLarge {
          font-size: 4rem;
        }

        @include mixins.mobileSmall {
          font-size: 3rem;
        }
      }

      p {
        max-width: 90%;
        text-wrap: balance;
        opacity: 0.8;

        @include mixins.tabletLarge {
          max-width: 100%;
        }

        @include mixins.mobileSmall {
          font-size: 15px;
          text-align: center;
          text-wrap: none;
        }
      }

      .hero__button__container {
        display: flex;
        gap: 1rem;
        padding-top: 2rem;

        @include mixins.mobileSmall {
          justify-content: center;
        }
      }
    }

    img {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 40%;
      object-fit: cover;

      @include mixins.tabletLarge {
        width: 100%;
        height: 20%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
      }
    }
  }
}
