$desktop: 1280px;
$desktopSmall: 1020px;
$tabletLarge: 850px;
$tablet: 768px;
$tabletMax: 720px;
$tabletSmall: 570px;
$mobile: 480px;
$mobileSmall: 420px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktopSmall {
  @media (max-width: $desktopSmall) {
    @content;
  }
}

@mixin tabletLarge {
  @media (max-width: $tabletLarge) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin tabletMax {
  @media (max-width: $tabletMax) {
    @content;
  }
}

@mixin tabletSmall {
  @media (max-width: $tabletSmall) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin mobileSmall {
  @media (max-width: $mobileSmall) {
    @content;
  }
}