@use "../../../scss/base/globals" as globals;

a {
  text-decoration: none;
  padding-top: 5px;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: 0.2s ease;

  button {
    border: none;
    border-radius: 16px;
  }
}

.green {
  background-color: globals.$primary;
  color: globals.$black;

  :hover {
    background-color: globals.$p-hover;
  }
}

.black {
  background-color: globals.$black;
  color: globals.$white;
  :hover {
    background-color: globals.$b-hover;
  }
}
