@use "../../scss/base/globals" as globals;

nav {
  background-color: globals.$primary;
  height: 4.5rem;
  display: flex;
  align-items: center;
  z-index: 50;

  menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 50;

    li {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  }
}
