@use "../../scss/base/globals" as globals;
@use "../../scss/base/mixins" as mixins;

.product__page__container {
  margin: 8rem 0;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include mixins.tabletSmall {
    margin: 6.5rem 0;
  }

  .product__page__top {
    display: flex;
    gap: 4rem;
    @include mixins.tabletLarge {
      gap: 1.5rem;
    }

    @include mixins.tabletSmall {
      flex-direction: column;
    }

    img {
      width: 50%;
      min-width: 22rem;
      max-height: 28rem;
      object-fit: cover;
      border-radius: 20px;

      @include mixins.tabletLarge {
        min-width: 2rem;
      }
      @include mixins.tabletSmall {
        width: 100%;
      }
    }

    .product__page__info {
      width: 50%;
      gap: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include mixins.tabletSmall {
        width: 100%;
      }

      h1 {
        font-size: 4.5rem;

        @include mixins.tabletLarge {
          font-size: 3rem;
        }
      }

      p {
        margin-top: 1rem;
      }

      .prev__price {
        display: flex;
        align-items: center;
        gap: 2rem;

        :first-child {
          text-decoration: line-through;
          font-size: 14px;
          color: #636363;
        }

        .product__discount__tag {
          background-color: globals.$black;
          color: globals.$white;
          padding: 0.2rem 0.2rem 0;
          border-radius: 3px;
        }
      }
    }
  }

  .product__current__price {
    font-size: 1.4rem;
  }

  .product__cta {
    display: flex;
    gap: 1rem;
  }

  .product__review__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 1.5rem;
    }
  }
}
