.product__page__container {
    margin: 10rem 4rem;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .product__page__top {
        display: flex;
        gap: 4rem;

        img {
            width: 50%;
            min-width: 22rem;
            max-height: 28rem;
            object-fit: cover;
            border-radius: 20px;
        }
    
        .product__page__info {
            width: 50%;
            gap: 1.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
    
            h1 {
                font-size: 4.5rem;
            }
    
            p {
                margin-top: 1rem;
            }
    
            .prev__price {
                display: flex;
                gap: 2rem;
    
                div {
                    text-decoration: line-through
                }
            }
        }
    }

    .product__review__section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        h2 {
            font-size: 1.5rem;
        }
    }
}